body {
  width: 100vw;
  height: 98vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
  overflow: hidden;

  image-rendering: pixelated;
}

canvas {
  width: min(80vh, 80vw);
  padding: 5px;
  border: 1px solid black;

  background: white;
}

img {
  width: 100vw;

  display: none;
  position: absolute;
}
